@font-face {
    font-family: Plus Jakarta Sans;
    src: url(PlusJakartaSans-VariableFont_wght.ttf);
}

a {
    text-decoration: inherit;
    color: inherit;
}

body {
    margin: 0;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Plus Jakarta Sans';
    box-sizing: border-box;
    zoom: 1.4;
    margin-bottom: 64px;
}

#top-right {
    position: absolute;
    right: 26px;
    top: 26px;
}

.discord, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 7px 12px;

    width: 101px;
    height: 30px;

    background: #762ED1;
    border-radius: 4px;
    cursor: pointer;
}

#content, .center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-top: 26px;
    max-width: 126px;
    height: 10%;
    width: 50%;
}

h1 {
    text-align: center;
    margin: 0;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

#email-input {
    display: flex;
    position: relative;
    height: 36px;
    width: 300px;
}

#email-input input, .hugging-face-component input {
    width: 100%;
    color: white;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 0 8px;
    box-sizing: border-box;
}

#email-input input:focus, .hugging-face-component input  {
    outline-width: 0;
}

#email-input button, .hugging-face-component button {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-left: -8px;
    z-index: 10;
    color: black;

    top: 0;
    right: 0;
    position: absolute;
    font-weight: 500;
    height:100%;
}

.gray-text {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    /* or 118% */

    text-align: center;

    color: #B1B1B1;
}

#content {
    padding: 0 20px;
    row-gap: 26px;
}

#bottom-images img {
    min-width: 0;
    min-height: 0;
}

#bottom-images {
    margin-top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 26px;
    column-gap: 26px;
}

#after-minutes {
    max-width: 150px;
}

#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#popup > div {
    width: 350px;
    display: flex;
    background-color: black;
    flex-direction: column;
    padding: 64px 0;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#popup h2 {
    margin: 0;
}

#popup a {
    white-space: nowrap;
    padding: 8px 40px;
}

#popup a img {
    margin-right: 8px;
}

h2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;
}

h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* or 120% */

    text-align: center;
    margin-top: 64px;
}

#main {
    position: relative;
}

.b3 {
    margin-top: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    /* or 115% */

    text-align: center;
    margin-bottom: 35px;
}

#x {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 14px;
    width: 14px;
    cursor: pointer;
}

.video {
    text-align: center;
}

.try-button {
    display: inline;
    font-size: 13px;
    margin: 14px;
}

.try-card {
    margin: 0 24px;
    width: 70%;
    padding-bottom: 24px;
}

.card-title {
    font-size: 13px;
    margin-bottom: -24px;
    z-index: 100;
    position: relative;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container img {
    min-width: 0;
    min-height: 0;
    max-height: 300px;
}

.images-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 26px;
    margin-top: -18px;
    font-size: 12px;
}

.cards-container img.vector {
    height: 24px;
    width: 18px;
}

.forty-percent-width {
    width: 40%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad-right {
    padding-right: 8px;
}

.forty-percent-width > img {
    width: 100%;
}

.input, .ai {
    padding: 6px 0;
    text-align: center;
}

.input img, .ai img{
    margin: 0 8px;
}

.video iframe {
    max-width: 80%;
}

img.try-image {
    width: 100%;
    margin-top: 32px;
    border-radius: 8px;
    overflow: hidden;
}

.images-row {
    text-align: center;
}

.underlined {
    text-decoration: underline;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.pricing-cards-container {
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.pricing-card {
    border: 1px solid;
    border-radius: 8px;
    padding: 32px;
    box-sizing: border-box;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 360px;
}

.pricing-card .card-title {
    font-size: 16px;
    display: contents;
}

.pricing-card p {
    flex-grow: 1;
    font-size: 14px;
    line-height: 22px;
}

.pricing-card .button {
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 64px;
}

.pricing-card.free .button {
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 64px;
    background-color: white;
    color: black;
}

.hugging-face-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    width: 60%;
    margin: auto;
    max-width: 300px;
}

.hugging-face-component .input-container {
    width: 100%;
    position: relative;
    height: 36px;
}

.hugging-face-component input{
    width: 100%;
    height: 100%;
}

.hugging-face-component button{
    top: 0;
    right: 0;
    position: absolute;
}

.hugging-face-component .image-result-container {
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hugging-face-component .image-result-container img{
    width: 100%;
    height: 100%;
}

.hugging-face-component .image-result-container img.loading-image{
    width: 50%;
    height: 50%;
}

.request-help {
    font-size: 18px;
    color: white;
}

@media (max-width: 1000px) {
    #bottom-images {
        flex-direction: column;
    }

    body {
        zoom: 1.9;
    }

    .forty-percent-width {
        width: 360px;
    }

    h1 {
        line-height: 40px;
        font-size: 40px;
    }

    h3 {
        line-height: 30px;
        font-size: 30px;
    }

    .gray-text {
        font-size: 22px;
        line-height: 32px;
    }

    .card-title {
        font-size: 20px;
        line-height: 20px;
    }

    .cards-container .images-row img.vector { }

    .try-card {
        width: 90%;
        padding-bottom: 24px;
    }

    .pricing-card {
        width: 60%;
    }
}